<a href="https://colab.research.google.com/github/Griznt/colab_test_tasks/blob/main/ecom_fashion_test_task_akramovmv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тестовое задание. Акрамов Михаил

## Задание 1:

Перед вами ставят задачу увеличить возврат аудитории в мобильное приложение.
Как вы будете решать данную задачу и какие аналитические инструменты вам потребуются?

За возвращаемость пользователей отвечает Retention. В подавляющем большинстве используется N-day Retention, а, т.к. интернет магазин одежды - это товары повседневного спроса, то считать нужно именно эту метрику: какой процент пользователей возвращается на конкретный день.

1. Для начала я хотел бы взглянуть на текущий Retention 7, 14 и 30 дней.
2. Затем, я бы пошел в поиск и поискал ориентиры для данного типа продукта: какое значение Retention в указаные дни (7,14,30) является "нормой" для интернет магазина? А для магазина с одеждой? А для SaaS сервиса с товарами ежедневного потребления?
3. Сравнил бы показатель Renetion для сайта и мобильного приложения. Какая динамика? Сайт лучше посещают или мобильное приложение? Если задача стоит повысить в возвращаемость мобильном приложении, можно предположить, что на сайте возвращаемость лучше.
Отсюда следует еще одно предположения: 
 * нужно произвести анализ сайта и мобильного приложения. Понять и сравнить аудитории: возможно, одежду покупают более взрослые люди, которые предпочитают веб-прилжожение и тп.
 * возможно, пользовательский путь вебе короче и "отшлифован" лучше, чем в мобильном приложении, пользователи в мобильном приложении сталкиваются с большим количеством препятствий
 * баги в мобильном приложении, которые не дают совершить покупку, например. Тогда пользователь может добавить в корзину в мобильном приложении, а завершить покупку с веба. Нужно подробно изучить эту цепочку. Если это так, то после пары таких попыток, пользователь может перестать пользоваться мобильным приложением и перейти на веб => Retention на мобильном приложении упал.
4. Сравнить конверсии в целевое действие на вебе и мобильном приложении. Вероятно, в мобильном приложении что-то может быть сложнее для пользователей.
5. Внимательно посмотреть пользователей в разрезе текущей установленной версии приложени и платформы (Android, iOS), возможно, что в какой-то версии баг, где клавиатура не открывается или еще что-то и пользватели перестают пользоваться. Также важно видеть Retention для каждой платформы, ведь приложения могут отличаться и/или пользователи на определенной платформе могут быть более лояльны/требовательны.
6. Провести интервью с пользователями, с целью выяснить чем предпочитают пользоваться (веб/мобильное приоложение) узнать почему, спросить про опыт в аналогичных приложениях. Можно найти пользователей конкурентов и провести с ними интервью, с целью понять сильные слабые стороны конкурента/нашего решения.
7. отзывы в AppStore, с целью поиска проблем

Имея на руках результаты интервью, цифры о текущих конверсиях и возвращаемости для разных когорт пользователей, ориентировочные показатели метрик для схожих продуктов можно будет предложить какое-то решение.


> Какие аналитические инструменты понадобятся?

Нужен доступ к системам аналитики/сырым данным сайта, мобильного приложения.
важно знать:
* retention
* cohort day, year
* текущая версия приложения
* conversion rate в целевое/ые действия
* данные поустановкам/удалениям, связать это с активностью в прилоожении
* email пользователей
* push-token устройств

После обнаружения проблем можно делать персонализированную рассылку по пользователям/когортам пользователей, например: пользователь перестал пользоваться нашим приложением, пользуется вебом, причина в багах: выпустить новую версию с исправленным багом и выслать пуш, что версия обновлена, баг поправлен

можно пытаться активировать пользователей, кто давно не покупал, сообщая об акциях, даря купоны или делая скидки на товары в корзине пользователей.

можно попробовать оценить возвращаемость пользователей в приложения конкурентов через сервисы SplitMetrics, когда мы делаем рекламу на конкурента и пускаем через наш сайт. Это даст возможность оценить конверсию из рекламы в переход к скачиванию приложения/переход на лендинг для конкурентов. Сравнить эти показатели с нашими, произвести корректировочные действия, при необходимости.

В зависимости от результатов исследования действия будут уже более очевидны.

## Задание 2:
В еженедельной статистике интренет-магазина одежды вы видите, что у вас увеличилось среднее количество товаров в заказе, но при этом сократился средний чек. С чем это может быть связано, какие выводы необходимо сделать?

Имеем: 

* увеличилось
 * количество товаров в заказе
* уменьшилось
 * средний чек

Имея только вот эти данные, мы не можем сделать никаких выводов:
1. не понятно под влиянием чего это произошло: сезонность? Как давно происходит?
2. что с выручкой? Выручка выросла, упала?
3. не пропали ли какие-то товары, которые были популярны (например, от какого-то поставщика) с продажи?
4. возможно, популярного товара не хватает на всех
5. проанализировать проведенные акции/рекламные кампании, вероятно, что мог быть привлечен новый/не свойственный нам сегмент пользователей, которые имеют другую покупательскую особенность: покупают больше, но товары дешевле.
6. посмотреть отзывы в AppStore/отзывы на сайте, на товары/запросы в службу поддержки. Возможно, чего-то не хватает, что-то мешает или люди чем-то недовольны
7. посмотреть проведенные обновления приложения веб/мобильное, коррелирует ли просадка с проведенным обновлением?
8. были ли обновления ассортимента? Что было добавлено нового/убрано старого?
9. были ли изменения у поставщиков? Рост цен на товары, смена ассортимента
10. было ли закрытие пунктов выдачи? Увеличение стоимости доставки? Загрузка логистических компаний?
11. произвести анализ, посмотреть наиболее популярные товары за прошлые периоды и оценить динамику: какие товары когда популярны (учесть сезонность, смотреть за последние 2-3 года). Как меняется популярность товаров, их стоимость? Совпадает ли с прогнозом?
12. оценить показатели:
 * ARPU
 * ARPPU
 * Paying Share
 * CR в целевое действие
 * Average Check
 * количество товаров в заказе

и произвести анализ исторических данных и текущих. Тут картина станет понятнее, стоит ли переживать, или это сезонная тенденция, которая наблюдалась в прошлом году, например. Важно смотреть за последние минимум 2 года, т.к. год назад была пандемия с самоизоляцией и она могла оказать сильное влияние. Если бы делаем вывод, что значения упали по сравнению с прошлым годом - может быть, это связано с пандемией?

## Задание 3:
Допустим, перед вами ставят амбициозную задачу — обеспечить x10 оборота за год с сайта. Вас просят составить пошаговый план того, как вы будете решать данную задачу. 

Важно отметить — увеличение трафика в 10 раз невозможно и все “детские” проблемы сайта уже давно решены.

> увеличение трафика в 10 раз невозможно

Это звучит логично, так как вернуть пользователя всегда дешевле, чем привлекать нового. Важно понять пользователей и не привлекаем ли мы тех, кого не надо привлекать? ( => теряем деньги)

Я бы предложил вот что:
1. произвести разведку текущего состояния сайта, по сути все, что описано в задаче 1 и 2 - нужно повторить, чтобы было понимание текущего состояния продукта, пользовательская активность по когортам, недовольства, отзывы, популярные товары и тп.
2. На год в современном мире планы строить почти нереально, их нужно постоянно корректировать. Постараемся сделать план на ближайшие 2-3 месяца и регулярно его корректировать, в зависимости от текущей остановки в мире/в стране/на рынке. 
3. В зависимости от порядка количества пользователей (подразумеваю, что это десятки - сотни тысяч) можно произвести ABCDX - сегментацию. Это сегментация, которая позволяет лучше узнать пользователей и каким именно пользователям нужен наш продукт:
* берем всех пользователей (которые покупают на сайте, раз речь только про сайт) за последний год
* ранжируем пользователей, которые платили на 4 сегмента по уровню ценности, которую мы им приносим и количеству денег, от клиентаранжируем их по сегментам, где:
 * A сегмент - покупают много, часто, цикл сделки маленький, всем довольны
 * B сегмент - продукт нужен, есть возражения, что-то не устраивает. Платят регулярно, цикл сделки не большой и средний чек выше среднего
 * C сегмент - потребность есть в продукте, но не нашем. Цикл сделки большой, средний чек маленький, покупают не часто, проблема и головная боль для тех поддержки
 * D сегмент - взрыв мозга и ничего не покупают

* затем, начинаем работать только с сегментами A и B: так как на основе исследовний (ФРИИ, Замесин Иван и др) было выявлено, что 20% пользователей приносят 80% дохода. Это сегменты A и B. А сегменты C и D выносят мозг и отнимают 80% времени, а приносят только 20% дохода.
* анализируем, что объединяет пользователей из сегментов A и B между собой. Таргетируемся на них.
4. По возможности, отказаться делать продукт для сегментов C и D. Если это невозможно, то:
* ставить KPI отделу продаж на работу с пользователями из сегментов A и B.
* отдел техподдержки должен обрабатывать запросы от сегментов A и B в первую очередь
* маркетинг тоже должен учесть на кого позиционироваться
* команда разработки и менеджмент должны быть оповещены, кто являются пользователями сегментов A и B, чтобы всегда держать это в голове
* перед правкой багов, составлением бэклога, внедрением фич и разработкой функционала, оценивать функционал в разребе пользовательских сегментов: а для кого мы это делаем? Если это не A или B - то и делать не стоит.
* любые баги/жалобы нужно смотреть в разрезе пользователей: если это сегменты A и B, то важность задачи повышается.  
5. Провести анализ популярных товаров для сегментов. Посмотреть динамику. Если окажется, что у нас обилие товаров, популярных для C и D сегментов, которые не пользуются популярностью у A и B - эти товары можно сокращать из ассортимента
6. Увеличение выручки возможно за счет:
* снижение затрат. Затраты снизятся и команда освободится немного, это позволит делать продукт для тех, кто в нем нуждается.
* увеличение ценности в продукте для конечных пользователей из сегментов A и B.
7. Можно провести JTBD-исследование продукта, с целью понять, как и почему пользователи покупают у нас. Какие эмоциональные составляющие есть и формирует ли наш продукт привычку. Как и кто покупают у конкурентов. За счет решения каких потребностей мы сможем увести клиентов от текущего доминирующего решения.
8. Можно провести JTBD-исследование для поиска и коммуникации и продаж продукта. Это даст план действий для маркетига и команды роста.
9. Поиск Product/Market Fit с помощью сегментации Шона Эллиса.
* Сегментация подразумевает собой опрос пользователей, "на сколько они будут разочарованы, если продукт исчезнет?" с вариантами ответа:
 * очень расстроен
 * умеренно расстроен
 * не расстроен
* Дальше нужно будет произвести разрез пользователей, которые ответили "очень расстроены" и понять, кто они, кто чаще встречаются.
* Провести снова такой же опрос только среди пользователей схожих с теми, что определили на предыдущем шаге.
* поговорить с пользователями из тех, кто ответил "буду умеренно расстроен" и пытаться понять, чего им не хватает, составлять задачи на доработку продукта исходя из ответов этого сегмента пользователей. 
10. Transaction Cost. Еще один важный момент, это зная микро-потребности пользователей, научиться решать их, тогда пользователи будут пользоваться чаще, лучше и дольше задерживаться с нами (стремиться к выработке привычки), за счет того, что пользуясь нашим продуктом, они закрывают еще одну потребность, что несет дополнительную ценность. При том, когда продукт, которым пользователь уже пользуется закрывает его потребность и предлагает закрыть еще одну, пользователю это обходится "дешевле" в плане усилий - он уже с нами, ему не надо ничего лишнего делать, даже если конкурент предлагает одно или два решения его потребности за тоже самое количество усилий.

Все описанное выше так или иначе влияет на возвращаемость пользователей, сокращение издержек, увеличение ценности. Важно помнить, что вернуть пользователя дешевле, чем привлекать новых + каналы привлечения могут меняться и стоимость привлечения сильно расти. Здесь очень важно сосредоточиться на тех, кому нужен продукт и пилить его для них, привлекать таких пользователей и тп.

## Задание 4:
Вчера завершилось AB-тестирование, которое мы проводили на карточке товара. В этом тесте участвовало 4 варианта отображения страницы, включая контрольный. 

Распределение кук было таким:
* 0 вариант -- disable_recommendations_display (контрольный)
* 1 вариант -- enable_widget_display
* 2 вариант -- enable_widget_and_page_display
* 3 вариант -- enable_null_page_display

Описание полей: 
1. sessionId -- Id сессии
2. owoxId -- Id пользователя
3. expId -- перечень кук экспериментов
4. transactionId -- Id транзакции
5. transactionRevenue -- сумма транзакции

### Задача 4.1
Написать SQL запрос, который посчитает уникальное количество сессий, уникальное количество пользователей, уникальное количество купивших пользователей, сумму выручки и количество транзакций, которые относятся к каждой куке.

Примерный вид результата выдачи:

![image.png]()

In [ ]:
!gdown --id 1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi
!mv _sqlite3.cpython-37m-x86_64-linux-gnu.so /usr/lib/python3.7/lib-dynload/
import os
os.kill(os.getpid(), 9)

Downloading...
From: https://drive.google.com/uc?id=1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi
To: /content/_sqlite3.cpython-37m-x86_64-linux-gnu.so
6.23MB [00:00, 97.5MB/s]

In [1]:
import pandas as pd
import numpy as np

In [2]:
import sqlite3

In [3]:
sqlite3.sqlite_version

'3.34.1'

In [4]:
con = sqlite3.connect('db')

Копируем файл ab_test_dataset.csv с гугл диска в локальную папку проекта:

https://drive.google.com/file/d/1fzlMhn3VWzvbCtOVzWnLFYehwTEei625/view?usp=sharing

In [5]:
file_id = "1fzlMhn3VWzvbCtOVzWnLFYehwTEei625"
!gdown https://drive.google.com/uc?id={file_id}

Downloading...
From: https://drive.google.com/uc?id=1fzlMhn3VWzvbCtOVzWnLFYehwTEei625
To: /content/ab_test_dataset.csv
9.08MB [00:00, 80.3MB/s]

In [198]:
df = pd.read_csv('/content/ab_test_dataset.csv',delimiter=',')

In [7]:
df.head(5)

                             sessionId  ... transactionRevenue
0  1621728671.1613885756_1614607796320  ...             1797.0
1   254454916.1614587660_1614588133437  ...                NaN
2   999147858.1613730260_1614581947725  ...                NaN
3   465317791.1602582468_1614604393055  ...                NaN
4  1412883283.1597158346_1614557965684  ...                NaN

[5 rows x 5 columns]

загоняем данные в sql:

In [8]:
df.to_sql('ab_data',con,index=False,if_exists='replace')

In [5]:
def select(sql):
  return pd.read_sql(sql,con)

In [10]:
sql = '''select t.* from ab_data as t limit 100'''

In [11]:
select(sql)

                              sessionId  ... transactionRevenue
0   1621728671.1613885756_1614607796320  ...             1797.0
1    254454916.1614587660_1614588133437  ...                NaN
2    999147858.1613730260_1614581947725  ...                NaN
3    465317791.1602582468_1614604393055  ...                NaN
4   1412883283.1597158346_1614557965684  ...                NaN
..                                  ...  ...                ...
95  2083756158.1573724623_1614623293988  ...                NaN
96  1066197565.1613626761_1614622585490  ...                NaN
97  1967941062.1604037509_1614584923181  ...                NaN
98  1933458510.1614597153_1614597164040  ...                NaN
99  2050957050.1609335481_1614566123598  ...                NaN

[100 rows x 5 columns]

Добавим столбец, который будет содержать Id пользователя, если он платил, иначе пусто

In [199]:
df['payingUser'] = np.where(df['transactionRevenue'] > 0, df['owoxId'], np.NAN)
df.head(5)

                             sessionId  ...             payingUser
0  1621728671.1613885756_1614607796320  ...  1131951925_4063926243
1   254454916.1614587660_1614588133437  ...                    NaN
2   999147858.1613730260_1614581947725  ...                    NaN
3   465317791.1602582468_1614604393055  ...                    NaN
4  1412883283.1597158346_1614557965684  ...                    NaN

[5 rows x 6 columns]

In [200]:
df.groupby('expId').agg({
    'sessionId': lambda x: x.nunique(), 
    'owoxId': lambda x: x.nunique(), 
    'payingUser': 'count', 
    'transactionRevenue': 'sum', 
    'transactionCount': 'sum'})

                                 sessionId  ...  transactionCount
expId                                       ...
disable_recommendations_display      24107  ...               207
enable_null_page_display             10755  ...               276
enable_widget_and_page_display       34149  ...               251
enable_widget_display                34030  ...               268

[4 rows x 5 columns]

Теперь тоже самое достанем SQL запросом:

In [147]:
sql = '''
select 
    t.expId as group_name,
    count(distinct(t.sessionId)) as session_cnt, 
    count(distinct(t.owoxId)) as uniq_users_cnt,
    count(t.transactionRevenue) as paying_users_cnt,
    sum(t.transactionRevenue) as revenue_sum,
    sum(t.transactionCount) as transactions_cnt
 from ab_data t
 group by t.expId'''

In [146]:
select(sql)

                             expId  session_cnt  ...  revenue_sum  transactions_cnt
0  disable_recommendations_display        24107  ...     361027.0               207
1         enable_null_page_display        10755  ...     181657.0               276
2   enable_widget_and_page_display        34149  ...     491299.0               251
3            enable_widget_display        34030  ...     372329.0               268

[4 rows x 6 columns]

#### Ответ
В результате выше находятся данные, которые требовалось найти в задании

### Задача 4.2
Оценить результаты AB теста и написать выводы об успешности каждого варианта + написать в общих чертах обоснование расчетов для подтверждения результатов

Оценить результаты можно при помощи SQL,Python или Excel.

In [201]:
df.nunique()

sessionId             100829
owoxId                 73038
expId                      4
transactionCount          10
transactionRevenue       411
payingUser               511
dtype: int64

#### Анализ A/B теста.

Отсутствует описание эксперимента: 
* неизвестно, что хотели померить, 
* нет описания
 * вносимых изменений в исходную версию, 
 * **метрик** по которым будет определяться успешность изменения,
 * порогового значения метрик, при которых мы сможем сказать - полученное изменение это хорошо или плохо (например: метрика X улучшена на 0.2%. Это хорошо или плохо? Стоит катить эксперимент или нет?)
* нет информации о сроках проведения эксперимента. Отсюда следует, что невозможно знать, было ли влияние внешних факторов (праздники, сезонность и тп)
* нет информации о составе пользователей в группах: подсегменты в разбивке по платформам/устройствам/полу/возрасту должны быть сопоставимы
* в одной из групп есть сразу **два** изменения - нужно выкатывать по одному, иначе как определить, какое из них подействовало?

In [202]:
intersect_ab1 = set(df[df['expId'] == "disable_recommendations_display"]['owoxId'])\
    .intersection(set(df[df['expId'] == "enable_null_page_display"]['owoxId']))

print('Пересечение пользователей в группах: ', 'disable_recommendations_display', 'enable_null_page_display', len(intersect_ab1))

Пересечение пользователей в группах:  disable_recommendations_display enable_null_page_display 345

In [203]:
intersect_ab2 = set(df[df['expId'] == "disable_recommendations_display"]['owoxId'])\
    .intersection(set(df[df['expId'] == "enable_widget_and_page_display"]['owoxId']))

print('Пересечение пользователей в группах: ', 'disable_recommendations_display', 'enable_widget_and_page_display', len(intersect_ab2))

Пересечение пользователей в группах:  disable_recommendations_display enable_widget_and_page_display 952

In [204]:
intersect_ab3 = set(df[df['expId'] == "disable_recommendations_display"]['owoxId'])\
    .intersection(set(df[df['expId'] == "enable_widget_display"]['owoxId']))

print('Пересечение пользователей в группах: ', 'disable_recommendations_display', 'enable_widget_display', len(intersect_ab3))

Пересечение пользователей в группах:  disable_recommendations_display enable_widget_display 962

Также мы видим пересечение пользователей в группах: я проверил только пересечение контрольной группы с каждой из тестовых. 

Так делать нельзя, этих пользователей нужно исключать из анализа, т.к. нахождение в обеих группах может сказаться на поведение пользователя.

Аналогично недопускается нахождение пользователя в разных экспериментах - мы не можем гарантировать, что это не повлияет на поведение пользователя в экспрерименте.

In [205]:
intersect_b1b2 = set(df[df['expId'] == "enable_null_page_display"]['owoxId'])\
    .intersection(set(df[df['expId'] == "enable_widget_and_page_display"]['owoxId']))

print('Пересечение пользователей в группах: ', 'enable_null_page_display', 'enable_widget_and_page_display', len(intersect_b1b2))

intersect_b1b3 = set(df[df['expId'] == "enable_null_page_display"]['owoxId'])\
    .intersection(set(df[df['expId'] == "enable_widget_display"]['owoxId']))

print('Пересечение пользователей в группах: ', 'enable_null_page_display', 'enable_widget_display', len(intersect_b1b3))

intersect_b2b3 = set(df[df['expId'] == "enable_widget_and_page_display"]['owoxId'])\
    .intersection(set(df[df['expId'] == "enable_widget_display"]['owoxId']))

print('Пересечение пользователей в группах: ', 'enable_widget_and_page_display', 'enable_widget_display', len(intersect_b2b3))

Пересечение пользователей в группах:  enable_null_page_display enable_widget_and_page_display 638
Пересечение пользователей в группах:  enable_null_page_display enable_widget_display 588
Пересечение пользователей в группах:  enable_widget_and_page_display enable_widget_display 1550

Количество уникальных пользователей:

In [206]:
df['owoxId'].nunique()

73038

Исключим пересекающихся пользователей и в каждой группе оставим только уникальных:

In [207]:
df = df[~df['owoxId'].isin(intersect_ab1)]
df = df[~df['owoxId'].isin(intersect_ab2)]
df = df[~df['owoxId'].isin(intersect_ab3)]
df = df[~df['owoxId'].isin(intersect_b1b2)]
df = df[~df['owoxId'].isin(intersect_b1b3)]
df = df[~df['owoxId'].isin(intersect_b2b3)]

Количество пользователей после чистки:

In [208]:
df['owoxId'].nunique()

68362

Взглянем еще раз на наш датасет:

In [209]:
groups = df.groupby('expId').agg({
    'sessionId': lambda x: x.nunique(), 
    'owoxId': lambda x: x.nunique(), 
    'payingUser': 'count', 
    'transactionRevenue': 'sum', 
    'transactionCount': 'sum'})
groups

                                 sessionId  ...  transactionCount
expId                                       ...
disable_recommendations_display      20865  ...               158
enable_null_page_display              8516  ...                51
enable_widget_and_page_display       29609  ...               209
enable_widget_display                29675  ...               200

[4 rows x 5 columns]

#### Расчет метрик

Посчитаем следующие метрики для каждой группы:
* ARPU
* ARPPU
* Transactions per User
* Paying Share

In [210]:
groups['ARPU'] = groups['transactionRevenue']/groups['owoxId']
groups['ARPPU'] = groups['transactionRevenue']/groups['payingUser']
groups['transactions_per_user'] = groups['transactionCount']/groups['payingUser']
groups['paying_share_%'] = groups['payingUser']/groups['owoxId']*100

users_count = groups['owoxId']

groups = groups[['ARPU','ARPPU', 'transactions_per_user', 'paying_share_%']]
groups

                                      ARPU  ...  paying_share_%
expId                                       ...
disable_recommendations_display  16.217153  ...        0.659720
enable_null_page_display         15.193224  ...        0.636189
enable_widget_and_page_display   17.004057  ...        0.705530
enable_widget_display            13.025368  ...        0.590152

[4 rows x 4 columns]

#### Расчет статистической значимости наблюдаемых изменений
Посчитаем разность между Paying Share тестовой и контрольными группами и посчитаем доверительный интервал для этой разности:

Используем z-тест для проверки пропорций и посчитаем доверительный интервал разницы Paying Share (z-score возьмем 1.96 для альфа = 5%):

In [168]:

users_count.head()

expId
disable_recommendations_display    16219
enable_null_page_display            6759
enable_widget_and_page_display     22678
enable_widget_display              22706
Name: owoxId, dtype: int64

In [169]:
# количество пользователей в группах
n_control = 16219
n_test1 = 6759
n_test2 = 22678
n_test3 = 22706

In [156]:
# значения для контрольной "disable_recommendations_display" и первой тестовых групп
ps_control = 0.659720
ps_test1 = 0.636189
ps_test2 = 0.705530
ps_test3 = 0.590152

# границы доверительного интервала
sqrt = (ps_test1 * (1 - ps_test1) / n_test1) + (ps_control * (1 - ps_control) / n_control)
left = ps_test1 - (ps_control + 1.96 * sqrt ** 0.5)
right = ps_test1 - (ps_control - 1.96 * sqrt ** 0.5)

print('Разность в значении:', round((ps_test1 - ps_control) * 100, 2), '%')
print('Доверительный интервал разности: [', round(left * 100, 2), '%,', round(right * 100, 2),'%]')

Разность в значении: -2.35 %
Доверительный интервал разности: [ -3.71 %, -0.99 %]

Доверительный интервал находится только в отрицательной плоскости и не содержит нуля. 

Значит мы можем сказать, что наблюдаемые изменения не обусловлены случайностью. 

Тестовая версия "enable_null_page_display" получила коэффициент платящих пользователей ниже, чем в контрольной версии.

In [157]:
# границы доверительного интервала
sqrt = (ps_test2 * (1 - ps_test2) / n_test2) + (ps_control * (1 - ps_control) / n_control)
left = ps_test2 - (ps_control + 1.96 * sqrt ** 0.5)
right = ps_test2 - (ps_control - 1.96 * sqrt ** 0.5)

print('Разность в значении:', round((ps_test2 - ps_control) * 100, 2), '%')
print('Доверительный интервал разности: [', round(left * 100, 2), '%,', round(right * 100, 2),'%]')

Разность в значении: 4.58 %
Доверительный интервал разности: [ 3.64 %, 5.52 %]

Доверительный интервал находится только в положительной плоскости и не содержит нуля. 

Значит мы можем сказать, что наблюдаемые изменения не обусловлены случайностью. 

Тестовая версия "enable_widget_and_page_display" получила коэффициент платящих пользователей выше, чем в контрольной версии.

In [158]:
# границы доверительного интервала
sqrt = (ps_test3 * (1 - ps_test3) / n_test3) + (ps_control * (1 - ps_control) / n_control)
left = ps_test3 - (ps_control + 1.96 * sqrt ** 0.5)
right = ps_test3 - (ps_control - 1.96 * sqrt ** 0.5)

print('Разность в значении:', round((ps_test3 - ps_control) * 100, 2), '%')
print('Доверительный интервал разности: [', round(left * 100, 2), '%,', round(right * 100, 2),'%]')

Разность в значении: -6.96 %
Доверительный интервал разности: [ -7.93 %, -5.99 %]

Доверительный интервал находится только в отрицательной плоскости и не содержит нуля. 

Значит мы можем сказать, что наблюдаемые изменения не обусловлены случайностью. 

Тестовая версия "enable_widget_display" получила коэффициент платящих пользователей ниже, чем в контрольной версии.

Взглянем еще раз на таблицу:

In [211]:
groups.head()

                                      ARPU  ...  paying_share_%
expId                                       ...
disable_recommendations_display  16.217153  ...        0.659720
enable_null_page_display         15.193224  ...        0.636189
enable_widget_and_page_display   17.004057  ...        0.705530
enable_widget_display            13.025368  ...        0.590152

[4 rows x 4 columns]

#### Основные выводы

Версия "enable_widget_display" статистически значимое ухудшение Paying Share. Также мы видим, что выручка на одного пользователя упала. Также упала выручка на одного платящего. Это значит, что меньше пользователей стали платить, однако количество транзакций на одного платящего выросло. Это можно объяснить тем, что средний чек мог упасть.

Давайте расчитаем средний чек для каждой из групп:

In [212]:
df.head()

                             sessionId  ...             payingUser
0  1621728671.1613885756_1614607796320  ...  1131951925_4063926243
1   254454916.1614587660_1614588133437  ...                    NaN
2   999147858.1613730260_1614581947725  ...                    NaN
3   465317791.1602582468_1614604393055  ...                    NaN
4  1412883283.1597158346_1614557965684  ...                    NaN

[5 rows x 6 columns]

In [213]:
df['average_check'] = df['transactionRevenue']/df['transactionCount']

In [214]:
groups['average_check'] = df.groupby('expId').agg({'average_check': 'mean'})



groups

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                      ARPU  ...  average_check
expId                                       ...
disable_recommendations_display  16.217153  ...    1908.007009
enable_null_page_display         15.193224  ...    2302.598837
enable_widget_and_page_display   17.004057  ...    2136.210417
enable_widget_display            13.025368  ...    1833.193408

[4 rows x 5 columns]

Как можно видеть из таблицы выше, действительно, средний чек для группы "enable_widget_display" упал.

**Итог**: в группе "enable_widget_display" все метрики просели, катить версию не стоит.

Версия "enable_null_page_display" имеет статистически значимое ухудшение доли платящих пользователей. Также просела выручка с одного пользователя и выручка с одного платящего пользователя. Меньше количество транзаций на одного платящего пользователя, но средний чек больше.

**Итог**: смысла катить эту версию нет, т.к. мы видим ухудшение по деньгам: даже увеличившийся средний чек не дает выигрыша - покупать стали меньше.

Наконец, версия "enable_widget_and_page_display" в которой наблюдаются положительные изменения:
1. доля платящих статистически значимо выросла
2. вырос доход с одного пользователя
3. вырос средний чек

На основе вышеперечисленного растет выручка от пользователей находящихся в этой группе.

**Итог**: несмотря на снижение выручки с одного платящего, что обусловлено снижением количества транзакций на одного платящего пользователя, имеет смысл раскатывать эту версию, т.к. увеличилась доля платящих и средний чек. Это хорошая тенденция.

#### На прод можно пускать версию для группы "enable_widget_and_page_display"

Также нужно учесть, что мы закрыли глаза на описанные в самом начале недочеты.
По-хорошему, нужно планировать эксперимент и при анализе четко понимать, какое изменение мы будем считать допустимым и значимым для нас.

А пока в этой тестовой задаче, приходится делать выводы по факту.

Если я не учел какие-то факторы и у руководства есть сомнения, можно оставить небольшой процент пользователей контрольной группы без изменений и понаблюдать за метриками спустя продолжительное время.

## Задание 5:

На одном из утренних статусов продуктовой команды вы озвучили недавно найденный инсайт о том, что из всех покупателей, которые добавляют товар в корзину, - 95% оставляют её брошенной. Помимо разных отчетов для прояснения этой ситуации было решено посмотреть какое количество товаров обычно остается  в брошенной корзине.

Необходимо:
1. Отфильтровать столбец `productSKU` чтобы значения имели вид типа `GHS005876-1` 
2. Написать SQL запрос, который подсчитает какое количество товаров в среднем остается в брошенной корзине.

Ремарка: если в процессе подсчетов будут только удаления из корзины и соответственно сумма будет отрицательной - можно эти значения привести к 0. Это особенность жизненного цикла корзины и в рамках выполнения тестового задания мы можем этим пренебречь.

Описание полей:
1. owoxId -- Id пользователя
2. sessionId -- Id сессии
3. time -- timestamp
4. date -- дата
5. productQuantity -- количество товаров
6. productSKU -- sku товара
7. action_type -- тип действия с товаром (add - добавление в корзину, remove - удаление из корзины, purchase - покупка)

Скопируем файл `cart_dataset.csv` с гугл диска в локальную папку проекта:

https://drive.google.com/file/d/1YFrJ2-ptfYHq0isrmZhL4PagUVnhtSZt/view?usp=sharing

In [6]:
file_id = "1YFrJ2-ptfYHq0isrmZhL4PagUVnhtSZt"
!gdown https://drive.google.com/uc?id={file_id}

Downloading...
From: https://drive.google.com/uc?id=1YFrJ2-ptfYHq0isrmZhL4PagUVnhtSZt
To: /content/cart_dataset.csv
6.74MB [00:00, 106MB/s]

In [7]:
df = pd.read_csv('/content/cart_dataset.csv',delimiter=',')
df

                      owoxId  ... action_type
0      2969641759_3457101921  ...         add
1      2969641759_3457101921  ...         add
2      2111582153_1891340223  ...         add
3       259231359_2423647656  ...         add
4       259231359_2423647656  ...         add
...                      ...  ...         ...
66206  3653188672_1070295443  ...    purchase
66207   249201606_1780490823  ...    purchase
66208   249201606_1780490823  ...    purchase
66209   249201606_1780490823  ...    purchase
66210   249201606_1780490823  ...    purchase

[66211 rows x 7 columns]

### Задача 5.1 

> Отфильтровать столбец productSKU чтобы значения имели вид типа GHS005876-1

Фильтровать буду по regexp. Воспользуюсь сервисом и создам под необходимые условия: https://regex101.com/r/FhsP2N/1

Отфильтруем с помощью полученного регулярного выражения все товары:

In [8]:
df = df[df['productSKU'].str.match('[A-Z]{3}[0-9]{6}-[0-9]{1}')]
df.head(5)

                   owoxId  ... action_type
0   2969641759_3457101921  ...         add
3    259231359_2423647656  ...         add
7     981497265_818607250  ...         add
9   3176790678_1950681636  ...         add
12   567659707_1802547312  ...         add

[5 rows x 7 columns]

Отфильтрованный датасет положим в таблицу:

In [9]:
df.to_sql('cart',con,index=False,if_exists='replace')

In [10]:
sql = '''select t.* from cart t limit 5'''

In [11]:
select(sql)

                  owoxId  ... action_type
0  2969641759_3457101921  ...         add
1   259231359_2423647656  ...         add
2    981497265_818607250  ...         add
3  3176790678_1950681636  ...         add
4   567659707_1802547312  ...         add

[5 rows x 7 columns]

### Задача 5.2

> Написать SQL запрос, который подсчитает какое количество товаров в среднем остается в брошенной корзине.

Для начала надо определить, как определять брошенную корзину. Логичным определением будет такая корзина, которая будет иметь N > 0 товаров которые не купили на момент окончания сессии

In [12]:
sql = '''select t.* from cart t limit 5'''
select(sql)

                  owoxId  ... action_type
0  2969641759_3457101921  ...         add
1   259231359_2423647656  ...         add
2    981497265_818607250  ...         add
3  3176790678_1950681636  ...         add
4   567659707_1802547312  ...         add

[5 rows x 7 columns]

Посмотрим какие есть события:

In [13]:
sql = '''select t.action_type
from cart t
group by 1'''

In [14]:
select(sql)

  action_type
0         add
1    purchase
2      remove

Домножим на -1 количество товара, где пользователь удаляет товар из корзины или покупает

In [15]:
sql = '''
select 
t.*,
case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
from cart t'''

In [16]:
select(sql)

                      owoxId  ... quantity_corrected
0      2969641759_3457101921  ...                1.0
1       259231359_2423647656  ...                1.0
2        981497265_818607250  ...                1.0
3      3176790678_1950681636  ...                1.0
4       567659707_1802547312  ...                1.0
...                      ...  ...                ...
34665  3653188672_1070295443  ...               -1.0
34666   249201606_1780490823  ...               -1.0
34667   249201606_1780490823  ...               -1.0
34668   249201606_1780490823  ...               -1.0
34669   249201606_1780490823  ...               -1.0

[34670 rows x 8 columns]

#### Расчет остатка товаров в корзине на конец сессии
Посчитаем сколько товаров остается у пользователя в корзине на момент окончания сессии пользователя

In [17]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
)

select t.owoxId, t.sessionId, max(t.date) as last_date, max(t.time) as last_timestamp, sum(t.quantity_corrected) as product_total_count
from products_amount_corrected t
group by t.owoxId, t.sessionId
'''

In [18]:
select(sql)

                     owoxId  ... product_total_count
0     1000555049_3177394810  ...                 2.0
1      1000621507_485626986  ...                 1.0
2     1001018989_3750522448  ...                 7.0
3     1001290140_2394405033  ...                 2.0
4     1001643634_2074609849  ...                 1.0
...                     ...  ...                 ...
9021    99861428_3560721249  ...                 0.0
9022   999224837_3736462757  ...                -4.0
9023   999224837_3736462757  ...                 2.0
9024   999362683_4047270643  ...                 3.0
9025   999410641_4263482022  ...                 6.0

[9026 rows x 5 columns]

Отсортируем в порядке убывания количества товаров

In [145]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
),
product_cum_sum as (
  select 
    t.owoxId, 
    t.sessionId, 
    max(t.date) as last_date, 
    max(t.time) as last_timestamp, 
    sum(t.quantity_corrected) as product_total_count
  from products_amount_corrected t
  group by t.owoxId, t.sessionId
)

select t.*
from product_cum_sum t
order by product_total_count desc
'''

In [146]:
select(sql)

                     owoxId  ... product_total_count
0     3120686032_3307602039  ...                88.0
1     4282468728_3080683603  ...                77.0
2       2714483113_70313540  ...                41.0
3     1353293235_1659618592  ...                31.0
4     3353968150_3338928609  ...                28.0
...                     ...  ...                 ...
9021  3613009518_4063926243  ...               -51.0
9022  3221284636_3933267029  ...               -70.0
9023  1078468356_4117792893  ...               -73.0
9024   1553795452_240762751  ...              -390.0
9025  3519578993_2952560718  ...             -1064.0

[9026 rows x 5 columns]

Из таблицы выше наглядно видно, что есть пользователи с положительным остатком товаров в корзине на конец сессии, а есть с отрицательным, причем очень большим.

Давайте посмотрим, как возможны такие значения

#### Аномалии

In [162]:
sql = '''
select  t.action_type, sum(t.productQuantity)
from cart t
where t.owoxId = '1553795452_240762751'
group by action_type
'''

In [163]:
select(sql)

  action_type  sum(t.productQuantity)
0         add                   318.0
1    purchase                   378.0
2      remove                   308.0

Посмотрим все действия этого пользователя

In [171]:
sql = '''
select  t.*
from cart t
where t.owoxId = '1553795452_240762751'
'''

In [172]:
select(sql)

                   owoxId  ... action_type
0    1553795452_240762751  ...         add
1    1553795452_240762751  ...         add
2    1553795452_240762751  ...         add
3    1553795452_240762751  ...         add
4    1553795452_240762751  ...    purchase
..                    ...  ...         ...
861  1553795452_240762751  ...         add
862  1553795452_240762751  ...         add
863  1553795452_240762751  ...         add
864  1553795452_240762751  ...         add
865  1553795452_240762751  ...         add

[866 rows x 7 columns]

Как видно из двух таблиц выше, пользователь `1553795452_240762751` делал много действий, что не противоречит логике. Разницу по времени тут проверять не буду.

In [165]:
sql = '''
select  t.action_type, sum(t.productQuantity)
from cart t
where t.owoxId = '3519578993_2952560718'
group by action_type
'''

In [166]:
select(sql)

  action_type  sum(t.productQuantity)
0      remove                  1064.0

Тут интереснее: у одно действие на удаление, и очень большое. Посмотрим, все действия этого пользователя

In [168]:
sql = '''
select  t.*
from cart t
where t.owoxId = '3519578993_2952560718'
'''

In [169]:
select(sql)

                   owoxId  ... action_type
0   3519578993_2952560718  ...      remove
1   3519578993_2952560718  ...      remove
2   3519578993_2952560718  ...      remove
3   3519578993_2952560718  ...      remove
4   3519578993_2952560718  ...      remove
5   3519578993_2952560718  ...      remove
6   3519578993_2952560718  ...      remove
7   3519578993_2952560718  ...      remove
8   3519578993_2952560718  ...      remove
9   3519578993_2952560718  ...      remove
10  3519578993_2952560718  ...      remove
11  3519578993_2952560718  ...      remove

[12 rows x 7 columns]

Вероятно, что удалить за раз 100 и более товаров невозможно, т.к. товары должны отображаться постранично. Может, это запрос через API. Но я бы заострил на этом внимание и предложил разобраться, как такое может быть.

#### Расчет среднего количества товаров на конец сессии

In [173]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
),
product_cum_sum as (
  select 
    t.owoxId, 
    t.sessionId, 
    max(t.date) as last_date, 
    max(t.time) as last_timestamp, 
    sum(t.quantity_corrected) as product_total_count
  from products_amount_corrected t
  group by t.owoxId, t.sessionId
)

select t.*
from product_cum_sum t
where t.product_total_count > 0
order by t.product_total_count desc
'''

In [175]:
select(sql)

                     owoxId  ... product_total_count
0     3120686032_3307602039  ...                88.0
1     4282468728_3080683603  ...                77.0
2       2714483113_70313540  ...                41.0
3     1353293235_1659618592  ...                31.0
4     3353968150_3338928609  ...                28.0
...                     ...  ...                 ...
6101    99432836_3351057908  ...                 1.0
6102   994484470_2512314844  ...                 1.0
6103    997131845_432474066  ...                 1.0
6104   997275602_2363525930  ...                 1.0
6105   997492484_3203348844  ...                 1.0

[6106 rows x 5 columns]

Имеем 6106 пользователей, у которых в корзине остались товары.

Посмотрим на распределение количества пользоваталей по количеству товаров в корзине:

In [182]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
),
product_cum_sum as (
  select 
    t.owoxId, 
    t.sessionId, 
    max(t.date) as last_date, 
    max(t.time) as last_timestamp, 
    sum(t.quantity_corrected) as product_total_count
  from products_amount_corrected t
  group by t.owoxId, t.sessionId
),
products_amount_on_exit as (
  select t.*
  from product_cum_sum t
  where t.product_total_count > 0
  order by t.product_total_count desc
)

select t.product_total_count, count(*) from products_amount_on_exit t
group by t.product_total_count
'''

In [183]:
select(sql)

    product_total_count  count(*)
0                   1.0      3460
1                   2.0      1190
2                   3.0       566
3                   4.0       336
4                   5.0       177
5                   6.0       130
6                   7.0        75
7                   8.0        50
8                   9.0        25
9                  10.0        23
10                 11.0        14
11                 12.0         9
12                 13.0        10
13                 14.0         9
14                 15.0         6
15                 16.0         6
16                 17.0         3
17                 18.0         1
18                 20.0         2
19                 21.0         1
20                 22.0         2
21                 23.0         2
22                 24.0         1
23                 26.0         1
24                 27.0         1
25                 28.0         2
26                 31.0         1
27                 41.0         1
28                 77.0         1
29                 88.0         1

In [185]:
(3460 + 1190 + 566 +	336) / 6106 * 100

90.92695709138552

In [186]:
3460/6106 * 100

56.66557484441533

#### Выводы

Как можно заметить из таблицы выше, подавляющее большинство пользователей ~91% оставляют в корзине от 1 до 4 товаров.

 ~57% брошенных корзин пользователей содержат 1 товар.

 Т.к. распределение не равномерное, считать среднее значение будет некорректно, нужно посчитать медиану.

Медиана:

In [48]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
),
product_cum_sum as (
  select 
    t.owoxId, 
    t.sessionId, 
    max(t.date) as last_date, 
    max(t.time) as last_timestamp, 
    sum(t.quantity_corrected) as product_total_count
  from products_amount_corrected t
  group by t.owoxId, t.sessionId
),
cart_products_distribution as (
  select t.*
  from product_cum_sum t
  where t.product_total_count > 0
  order by t.product_total_count desc
)

select avg(t.product_total_count) as median
from (
    select t.product_total_count
    from cart_products_distribution t
    order by 1
    limit 2 - (select count(*) from cart_products_distribution) % 2
    offset (
      select (count(*) - 1) / 2 from cart_products_distribution
    )
  ) t
'''

In [49]:
select(sql)

   median
0     1.0

Среднее:

In [60]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
),
product_cum_sum as (
  select 
    t.owoxId, 
    t.sessionId, 
    max(t.date) as last_date, 
    max(t.time) as last_timestamp, 
    sum(t.quantity_corrected) as product_total_count
  from products_amount_corrected t
  group by t.owoxId, t.sessionId
),
cart_products_distribution as (
  select t.*
  from product_cum_sum t
  where t.product_total_count > 0
  order by t.product_total_count desc
)

select avg(t.product_total_count) as average
from cart_products_distribution t
'''

In [61]:
select(sql)

    average
0  2.165247

Проверим, все ли правильно посчитано с помощью python:

In [69]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
),
product_cum_sum as (
  select 
    t.owoxId, 
    t.sessionId, 
    max(t.date) as last_date, 
    max(t.time) as last_timestamp, 
    sum(t.quantity_corrected) as product_total_count
  from products_amount_corrected t
  group by t.owoxId, t.sessionId
)

select t.product_total_count
from product_cum_sum t
where t.product_total_count > 0
order by t.product_total_count desc
'''

df1 = select(sql)

In [70]:
df1.mean()

product_total_count    2.165247
dtype: float64

In [71]:
df1.median()

product_total_count    1.0
dtype: float64

#### Найдем наиболее "непопулярные товары" - товары, которые остаются в корзине:

In [187]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
),
product_cum_sum as (
  select 
    t.owoxId, 
    t.sessionId, 
    max(t.date) as last_date, 
    max(t.time) as last_timestamp, 
    sum(t.quantity_corrected) as product_total_count
  from products_amount_corrected t
  group by t.owoxId, t.sessionId
),
products_amount_on_exit as (
  select t.*
  from product_cum_sum t
  where t.product_total_count > 0
  order by t.product_total_count desc
)

select t.owoxId from products_amount_on_exit t
where t.product_total_count = 1
'''

In [188]:
select(sql)

                     owoxId
0      1000621507_485626986
1     1001643634_2074609849
2      1001973821_781682403
3     1002017410_3678598022
4     1002025702_1751800127
...                     ...
3455    99432836_3351057908
3456   994484470_2512314844
3457    997131845_432474066
3458   997275602_2363525930
3459   997492484_3203348844

[3460 rows x 1 columns]

Достанем id пользователей, у которых в корзине от 1 до 4 товаров осталось (91% всех пользователей, бросивших корзины) и найдем самые непопулярные товары:

In [205]:
sql = '''
with 
products_amount_corrected as (
  select t.*,
  case when t.action_type in ('remove','purchase') then t.productQuantity * -1 else t.productQuantity end as quantity_corrected
  from cart t
),
product_cum_sum as (
  select 
    t.owoxId, 
    t.sessionId, 
    max(t.date) as last_date, 
    max(t.time) as last_timestamp, 
    sum(t.quantity_corrected) as product_total_count
  from products_amount_corrected t
  group by t.owoxId, t.sessionId
),
products_amount_on_exit as (
  select t.*
  from product_cum_sum t
  where t.product_total_count > 0
  order by t.product_total_count desc
),
users_ids as (
  select t.owoxId from products_amount_on_exit t
  where t.product_total_count in (1,2,3,4)
)

select t.productSKU, count(t.productSKU) from cart t
where t.action_type = 'add' and t.owoxId in (select * from users_ids)
group by 1
order by 2 desc

limit 100
'''

In [206]:
select(sql)

     productSKU  count(t.productSKU)
0   GSE000742-1                   44
1   GSH007677-1                   43
2   GUW005178-1                   39
3   GAC015202-1                   39
4   GJN020940-1                   36
..          ...                  ...
95  GUW005637-1                   14
96  GKT012672-1                   14
97  GJN020581-1                   14
98  GJN020045-1                   14
99  GJN016161-1                   14

[100 rows x 2 columns]

#### Самые непопулярные товары
В таблице выше находятся самые непопулярные по каким-то причинам товары.
Можно заняться дальнейшим исследованием постараться понять:
1. покупают ли их вообще, что это за товар.
2. посмотреть отзывы на товары, вдруг есть негатив (поставщик путает товар: цвет, размер, или товар плохо упакован и разбит и тп). Может быть товар вскрывают на пункте получения, сдают и после этот вскрытый товар уже никто не берет. 
3. провести проблемное интервью с пользователями, которые
  * купили и остались довольны
  * купили и остались недовольны
  * не купили, узнать почему

Это выходит за рамки тестового задания, поэтому ограничуюсь на этом.

# Спасибо за интересное задание!